<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Speedmarks :: Help</title>
	<link rel="stylesheet" type="text/css" href="/static/help.css" />
</head>
<body>
  <h1><a href="http://speedmarks.appspot.com">Speedmarks</a></h1>
  <h2>What's up with Speedmarks?</h2>
  <div class="topic">
    <h3 id="star">Starring</h3>
    <p>Sometimes once isn't enough. You may actually want to check out the same website many times and constantly re-Speedmarking the page is so last year.</p>
    <p>Click the star icon next to any link to permanently keep a Speedmark so you can look at it again and again and again. We won't get rid of it until you un-star it and THEN click it.</p>
  </div>
  <div class="topic">
    <h3 id="share">Sharing</h3>
    <div class="item">
      <h4>Your Share Name</h4>
      <p>If you want to start sharing your Speedmarks with your friends, you first have to get a sharing name.</p>
      <p>A sharing name helps your friends easily identify you while still keeping your Speedmarks a really cool secret.</p>
      <p>To get a share name, click Options in the lower right corner of your Speedmarks page. Then, click enable sharing. Your fun new share name will then appear below!</p>
      <p>You don't have to have a share name. Just ignore the "Options" link. I won't judge you either way.</p>
  </div>
  <div class="item">
    <h4>Sharing a Speedmark</h4>
    <p>Sharing is easy. If you want to share a Speedmark with a friend, follow these easy steps:</p>
    <ol>
      <li>Get your friend's share name. It might be something like ChunkyBacon.</li>
      <li>Click the green share icon next to the Speedmark that you want to share.</li>
      <li>Enter your friend's share name in the box.</li>
      <li>Click share.</li>
      <li>Relax in a hammock. You've had a long day today.</li>
    </ol>  
  </div>
</body>
</html>
