<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Speedmarks</title>
	<style type="text/css">
	  * {
	    margin: 0;
	    padding: 0;
	  }
	  body {
	    font-family: Helvetica, Arial, Sans-serif;
    }
    h1 {
      margin: 5px;
    }
    p {
      margin: 20px;
    }
	</style>
</head>
<body>
  <h1>Speedmarks</h1>
  <p>Copy these bookmarklets somewhere useful...</p>
  <p><a id="save" href="#">Speedmark</a></p>
  <p><a id="view" href="#">Speedmarks</a></p>
  
  <script type="text/javascript">
  function S4() {
     return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
  }
  function guid() {
     return (S4()+S4()+S4()+S4()+S4()+S4()+S4()+S4());
  }

  var guid = guid();

  var save_bookmarklet = document.getElementById('save');
  save_bookmarklet.href="javascript:location.href='http://speedmarks.appspot.com/" + guid + "/create?url='+encodeURIComponent(location.href)+';title='+encodeURIComponent(document.title.replace(/^\s*|\s*$/g,''))";
  
  show_bookmarklet = document.getElementById('view');
  show_bookmarklet.href="javascript:location.href='http://speedmarks.appspot.com/" + guid + "'";
  </script>
</body>
</html>