<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Speedmarks</title>
	<link rel="stylesheet" type="text/css" href="/static/list.css" />
</head>
<body>
  <h1><a href="http://speedmarks.appspot.com">Speedmarks</a></h1>
  {% if not links %}
    <p id="empty">Nothing here...</p>
    <p id="instructions">Add some speedmarks and then check back.</p>
  {% else %}
  <ul>
    {% for link in links %}
      <li>
        <a href="/{{ link.bookmarklet }}/{{ link.key }}">
        {% if link.title %}
            {{ link.title }}
        {% else %}
            {{ link.url }}
        {% endif %}
        </a>
        {% if link.title %}
          <span class="url">
              {{ link.url }}
          </span>
        {% endif %}
        {% ifchanged link.created_time.date %}
          <span class="date">{{ link.created_time.date|date:"M j, Y" }}</span>        
        {% endifchanged %}
        </li>
    {% endfor %}
  </ul>
  {% endif %}
</body>
</html>
