<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Speedmarks</title>
	<link rel="stylesheet" type="text/css" href="/static/list.css" />
	<link rel="stylesheet" type="text/css" href="/static/facebox/facebox.css" />
  <script type="text/javascript" src="/static/jquery.js"></script>
  <script type="text/javascript" src="/static/facebox.js"></script>
</head>
<body>
  <h1><a href="http://speedmarks.appspot.com">Speedmarks</a></h1>
  {% if not links %}
    <p id="empty">Nothing here...</p>
    <p id="instructions">Add some speedmarks and then check back.</p>
  {% else %}
  <ul>
    {% for link in links %}
      <li>
        <span class="save">
          <a href="/{{ link.bookmarklet }}/{{ link.key }}/save" onclick="$.get('/{{ link.bookmarklet }}/{{ link.key }}/save');change=false;return false;">
            {% if link.save_for_later %}
              <img src="/static/star.png" onmouseover="o(this)" onmouseout="o(this)" />
            {% else %}
              <img src="/static/gray_star.png" onmouseover="o(this)" onmouseout="o(this)" />
            {% endif %}
          </a>
        </span>
        <a href="#"><img src="/static/gray_share.png" onmouseover="s(this)" onmouseout="s(this)" onclick="t('{{ link.key }}')" /></a>
        <a href="/{{ link.bookmarklet }}/{{ link.key }}">
        {% if link.title %}
            {{ link.title }}
        {% else %}
            {{ link.url }}
        {% endif %}
        </a>
        {% if link.title %}
          <span class="url">
              {{ link.url }}
          </span>
        {% endif %}
        {% ifchanged link.created_time.date %}
          <span class="date">{{ link.created_time.date|date:"M j, Y" }}</span>        
        {% endifchanged %}
        </li>
    {% endfor %}
  </ul>
  {% endif %}
  <a id="options-link" href="javascript:displayOptions()">Options</a>
  <script type="text/javascript">
    var star = new Image();
    star.src = '/static/star.png';
    var gstar = new Image();
    gstar.src = '/static/gray_star.png';
    var share = new Image();
    share.src = '/static/share.png';
    
    var change = true
    
    function o(item) {
      if (!change)
        return change=true
      if (item.src == star.src) {
        item.src = gstar.src;
      } else {
        item.src = star.src;
      }
    }
    
    function s(item) {
      if (item.src == share.src) {
        item.src = '/static/gray_share.png';
      } else {
        item.src = share.src;
      }
    }
    
    var currentLink = null;
    function t(item) {
      currentLink = item;
      jQuery.facebox($('#sharing').clone().html());
    }
    function shareLink(form) {
      var share = form.find('#share-with').val();
      $.post('/{{ bookmarklet }}/share/' + currentLink, {'share': share});
      jQuery.facebox.close();
    }
    function displayOptions() {
      $.get('/{{ bookmarklet }}/options', function(data) {
        if (data == "") {
          $('#allow-sharing').attr('checked', false);
        } else {
          $('#allow-sharing').attr('checked', true);
          $('#share-name').val(data);
        }
        $.facebox($('#options'));
      });
    }
    function enableSharing() {
      $.post('/{{ bookmarklet }}/options', {'allow': $('#allow-sharing').attr('checked')}, function(data) {
        $('#share-name').val(data);
      });
    }
  </script>

<div style="border: 1px solid #999;display:block;" id="options">
  <h2>Fancy Pants Options</h2>
  <form onsubmit="shareLink();return false;">
    <p>Enable sharing <input id="allow-sharing" type="checkbox" onclick="enableSharing()" />
    <p>Your sharing name: <input type="text" id="share-name" /></p>
    <p class="sub-text">How to share</p>
    <a href="#" onclick="$.facebox.close();return false;">Cancel</a><input type="submit" value="Save">
  </form>
</div>

<div style="border: 1px solid #999;display:none;" id="sharing">
  <h2>Share This Speedmark</h2>
  <form onsubmit="shareLink($(this));return false;">
    <p>Who do you want to share with?</p>
    <p><input type="text" id="share-with" /></p>
    <p class="help">We're looking for a sharing name here...</p>
    <a href="#" onclick="$.facebox.close();return false;">Cancel</a><input type="submit" value="Share">
  </form>
</div>
</body>
</html>
