<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Speedmarks</title>
  <link rel="stylesheet" type="text/css" href="/static/list.css" />
  <link rel="stylesheet" type="text/css" href="/static/facebox/facebox.css" />
  <script type="text/javascript" src="/static/jquery.js"></script>
  <script type="text/javascript" src="/static/facebox.js"></script>
  <script type="text/javascript" src="/static/speedmarks.js"></script>
  <script type="text/javascript">
    var speedmarks = speedmarks(
      {
        bookmarklet: '{{ bookmarklet }}'
      });
  </script>
</head>
<body>
  <h1><a href="http://speedmarks.appspot.com">Speedmarks</a></h1>
  {% if not links %}
    <p id="empty">Nothing here...</p>
    <p id="instructions">Add some speedmarks and then check back.</p>
  {% else %}
  <ul>
    {% for link in links %}
    <li>
      <span onmouseover="speedmarks.show('{{ link.key }}');" onmouseout="speedmarks.hide('{{ link.key }}');">
        <span class="save">
          <a href="/{{ link.bookmarklet }}/save/{{ link.key }}" onclick="$.get('/{{ link.bookmarklet }}/save/{{ link.key }}');speedmarks.setChange(false);return false;">
            {% if link.save_for_later %}
              <img src="/static/star.png" onmouseover="speedmarks.starMouseOver(this)" onmouseout="speedmarks.starMouseOver(this)" />
            {% else %}
              <img src="/static/gray_star.png"  onmouseover="speedmarks.starMouseOver(this)" onmouseout="speedmarks.starMouseOver(this)" />
            {% endif %}
          </a>
        </span>
        <a href="#"><img src="/static/gray_share.png" onmouseover="speedmarks.shareMouseOver(this)" onmouseout="speedmarks.shareMouseOver(this)" onclick="speedmarks.displayShareBox('{{ link.key }}')" /></a>
        <a href="/{{ link.bookmarklet }}/{{ link.key }}">
          {% if link.title %}
            {{ link.title }}
          {% else %}
            {{ link.url }}
          {% endif %}
        </a>
        <a href="/{{ bookmarklet }}/delete/{{ link.key }}"><img src="/static/delete.png" id="{{ link.key }}" class="delete"/></a>
      </span>
      {% if link.title %}
        <span class="url">
          {{ link.url }}
        </span>
      {% endif %}
      {% ifchanged link.created_time.date %}
        <span class="date">{{ link.created_time.date|date:"M j, Y" }}</span>        
      {% endifchanged %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <a id="options-link" href="javascript:speedmarks.displayOptions()">Options</a>

<!-- popup windows -->
<div style="display:none;" id="options">
  <div>
  <h2>Fancy Pants Options</h2>
  <form onsubmit="speedmarks.shareLink();return false;">
    <p>Enable sharing <input class="allow-sharing" type="checkbox" onclick="speedmarks.enableSharing()" />
    <div class="share-name-options" style="display:none;">
      <p>Your sharing name: <input type="text" class="share-name" disabled="true" /></p>
      <p class="help"><a href="/help">How do I share?</a></p>
    </div>
    <p class="buttons"><a href="#" onclick="$.facebox.close();return false;">Close</a></p>
  </form>
  </div>
</div>
<div style="display:none;" id="sharing">
  <div>
  <h2>Share This Speedmark</h2>
  <form onsubmit="speedmarks.shareLink($(this));return false;">
    <p>Who do you want to share with?</p>
    <p><input type="text" class="share-with" /></p>
    <p class="help"><a href="/help">What's a sharing name?</a></p>
    <p class="buttons"><a href="#" onclick="$.facebox.close();return false;">Cancel</a><input type="submit" value="Share"></p>
  </form>
  </div>
</div>
</body>
</html>
