  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Helvetica, Arial, Sans-serif;
    height: 100%;
  }
  html {
    height: 100%;
  }
  p#empty {
    font-size: 50pt;
    margin: 50px;
  }
  p#instructions {
    margin-left: 50px;
  }
  ul {
    list-style: none;
    margin-left: 175px;
    border-left: 1px solid #ddd;
    height: 100%;
    padding-left: 15px;
  }
  ul li:first-child {
    padding-top: 10px;
  }
  ul li:first-child .date {
    top: 10px;
  }
  a, a.visited {
    color: #000;
  }
  h1 {
    font-size: 100%;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 999;
  }
  li {
    height: 50px;
    position: relative;
  }
  .date {
    font-size: 130%;
    position: absolute;
    display: block;
    top: 0px;
    left: -155px;
    color: #aaa;
  }
  .url {
    display: block;
    font-size: 70%;
    color: #777;
  }
  a img {
    height: 16px;
    width: 16px;
    border: 0;
    margin-bottom: -2px;
  }
  #options-link {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
/* Sharing box */
#visible-sharing .share-with {
  border: 1px solid #666;
  width: 90%;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

#visible-sharing form p, #visible-options form p {
  margin: 10px 15px;
  color: #666;
}
p.help {
  margin-left: 15px;
  font-size: 10px;
  color: #999;
}
#visible-sharing form p.buttons, #visible-options form p.buttons {
  text-align: right;
}  
#visible-sharing form p.buttons a {
  margin-right: 10px;
}

/* Options box */
#visible-options .share-name {
  border: 1px solid #666;
  text-align: center;
  height: 25px;
  line-height: 25px;
  margin-left: 15px;
}
